@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "../pages/loading.css";
@import "../pages/dark-light.css";
@import "../pages/min-style.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
}
html{
  scroll-behavior:smooth;
}
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .5s ease;
}
body{
  position: relative;
  transition: .5s;
}
ul, ol, li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    white-space: nowrap;
}
:root{
  --Rubik:"Rubik", sans-serif;
}
  header{
  width: 100%;
  position: fixed;
  background-color:#FFF;
  z-index:99; 
   box-shadow: 0 3px 3px 1px rgb(242, 102, 102);
}
.container{
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

#backtop {
    position: fixed;
    bottom: -100px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    font-family: sans-serif;
    border: none;
    outline: none;
    background-color: #ddd;
    box-shadow: 0 0 5px 5px rgb(171, 103, 103);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    opacity: 1;
    transition: 1s;
}

#backtop.backtop-show {
    bottom: 50px;
}
nav{
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.navbar-shrink {
	padding: 15px 0;
  top: 100px;
}
/* navbar responsive */
#navbar-responsive {
	position: fixed;
  top: 0;
	bottom: 0;
  left: -100%;
  height: 100vh;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#ddd;
  transition: 0.5s;
}
.navbar-open{
  display: none;
  background-color:transparent;
   /* width: 35px;
    height: 35px; */
}
.open-navbar-list{
  display: none;
}
.nav__list{
   width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link{
  color: #4F5665;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 500;
}
.nav__link:hover{
  color:#f10629;
}
.btn__group{
  display: flex;
  gap: 10px;
}
.nav__btn{
  padding: 13px 45px;
  border-radius:50px;
  background-color: #fff;
  color: #0B132A;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 500;
}
#mode-btn{
  background-color: transparent;
  color:#000;
}
.btn{
  border-radius: 50px;
  border: 1px solid #F53855;
  background-color: #fff;
  color: #F53855;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 500;
}
.btn:hover{
  background-color: #F53855;
  color:#fff;
}
.nav__btn:hover{
  text-decoration: underline;
}
/* toggle start */

/* toggle end */
.intro{
  width: 100%;
  padding-top: 50px;
}
.intro__row{
  display: flex;
  padding-top: 120px;
  gap: 55px;
  align-items: center;
}
.intro__bottom__row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  box-shadow: 3px 3px 3px 1px #ddd;
}
.intro__title{
  color: #0B132A;
  font-family:var(--Rubik);
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}
.intro__title span{
  color: #0B132A;
  font-family:var(--Rubik);
  font-size: 40px;
  font-family:var(--Rubik);
  font-weight: 700;
  line-height: 50px;
}
.intro__text{
  margin-top: 20px;
  color: #4F5665;
  font-family: var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.intro__text span{
  color: #4F5665;
  font-family:var(--Rubik) ;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.intro__btn{
  width: 250px;
  height: 60px;
  margin-top: 50px;
  border-radius: 10px;
  background: #F53838;
  color:#fff;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; 
  transition: .5s;
}
.intro__btn:hover{
  background: #e54b4b;
}
.intro__bottom__row{
  width: 100%;
  padding: 67px 90px;
  border-radius:10px;
  background-color: #fff;
}
.bottom__text h2{
  color: #0B132A;
  font-family: var(--Rubik);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.bottom__text{
  color: #4F5665;
  font-family: var(--Rubik);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.bottom__card{
  display: flex;
  gap: 36px;
}
.bottom__card span{
  display: block;
  width: 55px;
  height: 55px;
  padding: 16px;
  border-radius:50%;
  background-color: #FFECEC;
}
bottom__card span img{
  background-color:transparent;
}
.bottom__card span:hover{
  background-color: #f5c0c0;
}
.coder__row{
  display: flex;
  align-items: center;
  padding-top: 95px;
  gap: 170px;
}
.coder__title{
  max-width: 380px;
  color: #0B132A;
  font-family: var(--Rubik);
  font-size: 35px;
  font-weight: 500;
  line-height: 50px; 
}
.coder__text{
  max-width: 427px;
  margin-top: 20px;
  color: #4F5665;
  font-family:var(--Rubik);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}
.coder__desc{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.pricing{
  text-align: center;
}
.pricing__row{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 60px;
}

.pricing__title{
  margin-top: 200px;
  color: #0B132A;
  text-align: center;
  font-family:var(--Rubik);
  font-size: 35px;
  font-weight: 500;
  line-height: 50px; 
}
.pricing__text{
  max-width: 555px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #4F5665;
  text-align: center;
  font-family: var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
}
.pricing__card{
  padding-top: 80px;
  padding-bottom: 50px;
  display: block;
  max-width: 330px;
  /* height: 760px; */
  border-radius: 10px;
  border:2px solid #ddd;
}
.pricing__card__title{
  margin-top: 30px;
  color: #0B132A;
  text-align: center;
  font-family: var(--Rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.chechk__box{
  display: flex;
  align-items: center;
  justify-content: center;
   text-align: center;
  gap: 10px;
}
.chechk__box__text{
  margin-top: 10px;
  text-align: center;
  color: #4F5665;
  font-family: var(--Rubik);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; 
}
.fixprice{
    margin-top: 90px;
    color: #0B132A;
    text-align: center;
    font-family:var(--Rubik);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}
.fixprice span{
  color: #4F5665;
  font-family: var(--Rubik);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.pricing__btn{
  padding: 13px 63px;
  border-radius: 50px;
  margin-top: 20px;
  border: 2px solid #F53838;
  color: #F53838;
  background-color: #fff;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 700;
  transition: .5s ease;
}
.pricing__btn:hover{
  background-color: #F53838;
  color:#fff;
}
.vpn{
  text-align: center;
}
.vpn__img{
  margin-top: 156px;
  width: 100%;
  max-width: 1060px;
  height: 537.771px;
  margin-left: auto;
  margin-right: auto;
}
.vpn__row img{
  width: 100%;
}
.vpn__row{
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vpn__row img{
  width: 190px;
  height: 90px;
}
.vpn__img svg:hover{
  fill:blue;
  border: blue;
}
.vpn__title{
  max-width: 383px;
  height: 100px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  color: #0B132A;
  text-align: center;
  font-family:var(--Rubik);
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}
.vpn__text{
  width: 555px;
  height: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #4F5665;
  text-align: center;
  font-family: var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
}
.person{
  text-align: center;
}
.person__row{
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
}
.person__card{
  max-width: 400px;
  height: 230px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #FFF;
  transition: .5s;
}
.person__media{
  border:1px solid #ddd;
  box-shadow: 3px 3px 6px 5px rgb(246, 224, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person__title{
  max-width: 448px;
  height: 100px;
  margin-top: 124px;
  margin-left: auto;
  margin-right: auto;
  color: #0B132A;
  text-align: center;
  font-family:var(--Rubik);
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}
.person__text{
  width: 555px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #4F5665;
  text-align: center;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
}
.person__cabinet{
  display: flex;
  gap: 20px;
  align-items: center;
}
.person__cabinet h3{
  color: #0B132A;
  text-align: center;
  font-family: var(--Rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; 
}
.person__cabinet p{
  color: #4F5665;
text-align: center;
font-family:var(--Rubik);
font-size: 14px;
font-weight: 400;
line-height: 30px;
}
.person__subtext{
  margin-top: 20px;
  color: #0B132A;
  text-align: left;
  font-family: var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; 
}
.person__card:hover{
   border: 2px solid #F53838;
   background-color: aqua;
}
.person__media{
  max-width: 1180px;
  width: 100%;
  padding: 58px 70px;
  border-radius:10px;
  margin-top: 185px;
  background-color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media__title{
  width: 370px;
  height: 80px;
  color: #0B132A;
  font-family: var(--Rubik);
  font-size: 35px;
  font-weight: 500;
  line-height: 45px; 
  text-align: left;
}
.media__text{
  margin-top: 20px;
  color: #4F5665;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.media__btn{
  width: 250px;
  height: 60px;
  margin-top: 50px;
  border-radius: 10px;
  background: #F53838;
  color:#fff;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; 
  transition: .5s;
}
.media__btn:hover{
  background: #f45f5f;
}
.footer{
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
}
.footer__row{
  width: 100%;
  padding:0px 15px;
  padding-top: 67px;
  padding-bottom: 100px;
  display:flex;
  gap: 230px;
}
.footer-left{
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 130px;
}
.footer__text{
  margin-top: 20px;
  width: 340px;
  height: 60px;
  color: #4F5665;
  font-family: var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.footer__text span{
  color: #4F5665;
  font-family: var(--Rubik);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; 
}
.footer__icon{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__icon__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius:50%;
  padding:10px;
  border:1px solid #F53838;
}
.footer__icon i{
  font-size: 20px;
  color:#F53838;
  padding: 10px;
  border-radius: 50%;
  /* background-color:green; */
}
.footer__logo p{
  margin-top: 30px;
  color: #AFB5C0;
  text-align: center;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
  text-align: left;
}
.footer__list h2{
  margin-bottom: 25px;
  color: #0B132A;
  font-family:var(--Rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; 
}
.footer__item{
  margin-top: 10px; 
}
 .footer__link{
  color: #4F5665;
  font-family:var(--Rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
} 
.light *{
 background-color: black;
}
.light * {
  color: white !important;
}
.light .media__btn, .intro__btn{
  border:2px solid #fff;
}
svg{
  width: 100%;
}
svg:hover{
  fill:#fff;
  stroke:rgb(0, 72, 255);
}

@media(max-width:990px){
  header{
  width: 100%;
  position:absolute;
  /* background-color:#FFF; */
  /* z-index:99;  */
  /* box-shadow: 0 3px 3px 1px rgb(244, 240, 240); */
} 

  .nav__link{
    display: none;
  }
  .btn__group{
    margin-left: auto;
  }
  .navbar-open{
  display:block;
  }
  .intro__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .intro__title, .intro__title span{
    font-size: 30px;
    line-height: 40px;
  }
  .intro__bottom__row{
    margin-left: auto;
    margin-right: auto;
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .intro__right img{
    width: 450px;
    height: 350px;
  }
  .coder__row{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .vpn__row{
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .footer__row{
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  .person__card{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      max-width: 400px;
      height: 260px;
      padding: 25px;
    }
    .footer-left{
      justify-content: center;
      gap: 30px;
    }
}
@media(max-width:768px){
  nav{
  justify-content:center;
  align-items: center;
}
  .navbar-open{
    display: block;
  }
  .open-navbar-list{
      position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: -70%;
        width: 70%;
        /* height: 100vh; */
        background-color: aqua;
        transition: all .7s ease;
  }
    .open-navbar-list-active{
      left: 0 !important;
    }
    .open-navbar-link{
      display: block;
      font-size: 24px;
      font-weight: 600;
      padding: 20px 30px;
      color: #4F5665;
      font-family:var(--Rubik);
    }
    .open-navbar-link:hover{
      background-color: red;
    }
    .close-navbar{
        width: 35px;
      height: 35px;
      position: absolute;
      top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 30px;
      cursor: pointer;
    }
    .vpn__row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .person__row{
      flex-direction: column;
      text-align: center;
    }
    
    .person__media{
      margin-top: 50px;
    }
    .media__title{
      width: 350px;
    height: 40px;
    color: #0B132A;
    font-family: var(--Rubik);
    font-size: 30px;
    font-weight: 500;
    line-height: 35px; 
    }
    .media__text{
      margin-top: 15px;
    }
    .footer__row{
      gap: 50px;
    }
    .footer-left{
      gap: 15px;
    }
    .footer__list{
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 25px; 
    }
     .footer__link{
      font-size: 14px;
      line-height: 25px; 
    } 
    .footer__text{
      margin-bottom: 25px;
      width: 300px;
      height: 50px;
      font-size: 15px;
      line-height: 25px;
    }
    .footer__text span{
      font-size: 15px;
      font-weight: 500;
      line-height: 25px; 
    }
    .footer__icon{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .footer__logo p{
      margin-top: 15px;
    }
    .media__subscribe{
      gap: 15px;
    }

    .coder__desc{
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
    .nav__btn{
      padding: 8px 20px;
      border-radius:50px;
      font-size: 14px;
      font-weight: 500;
    }
    .btn{
      border-radius: 50px;
      font-family:var(--Rubik);
      font-size: 14px;
      font-weight: 500;
    }
    .intro-right{
      display: none;
    }
    .intro__btn{
      max-width: 200px;
      height: 45px;
      margin-top: 40px;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px; 
    }
    .pricing__row{
      gap: 35px;
    }
    .vpn__img{
      margin-top:20px;
      width: 100%;
    }
  }